@use 'sass:color';
@use 'sass:map';
// dunkel töne 2f2d2a 2f2d2a 2c2521 1A1A2E 322c23 282420 2c271f
// Helle Palette (#ece9e6)
$c_light_3: #f7f6f4; // heller 3
$c_light_2: #f2f0ec; // heller 2
$c_light_1: #edeae7; // heller 1
$c_light:   #ece9e6; // basis
$c_light_d1: #e1dbd0; // dunkler 1
$c_light_d2: #d5cfc1; // dunkler 2
$c_light_d3: #c9c2b3; // dunkler 3

// Dunkle Palette (#2c271f)
$c_dark_3: #3a3329; // heller 3
$c_dark_2: #362f25; // heller 2
$c_dark_1: #322b22; // heller 1
$c_dark:   #2c271f; // basis
$c_dark_d1: #241f18; // dunkler 1
$c_dark_d2: #1d1913; // dunkler 2
$c_dark_d3: #16130e; // dunkler 3

:root {
  --primary: crimson;
  --primary-1: color-mix(in srgb, var(--primary) 80%, black 20%);
  --primary-2: color-mix(in srgb, var(--primary) 60%, black 40%);
  --foreground: #{$c_dark};
  --foreground-1: #{$c_dark_1};
  --foreground-2: #{$c_dark_2};
  --foreground-3: #{$c_dark_3};
  --foreground-d1: #{$c_dark_d1};
  --foreground-d2: #{$c_dark_d2};
  --foreground-d3: #{$c_dark_d3};
  --background: #{$c_light};
  --background-1: #{$c_light_1};
  --background-2: #{$c_light_2};
  --background-3: #{$c_light_3};
  --background-d1: #{$c_light_d1};
  --background-d2: #{$c_light_d2};
  --background-d3: #{$c_light_d3};
}

.dark {
  --primary: crimson;
  --foreground: #{$c_light};
  --foreground-1: #{$c_light_1};
  --foreground-2: #{$c_light_2};
  --foreground-3: #{$c_light_3};
  --foreground-d1: #{$c_light_d1};
  --foreground-d2: #{$c_light_d2};
  --foreground-d3: #{$c_light_d3};
  --background: #{$c_dark};
  --background-1: #{$c_dark_1};
  --background-2: #{$c_dark_2};
  --background-3: #{$c_dark_3};
  --background-d1: #{$c_dark_d1};
  --background-d2: #{$c_dark_d2};
  --background-d3: #{$c_dark_d3};
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
